{% extends 'mainpage/header_footer.html' %}
{% load static %}
{% block menu %}
   {% include 'mainpage/menu.html' %}
{% endblock %}
{% block content %}
<h1>Я молодец!</h1>
{% endblock %}


{% comment %} {% extends "mainpage/header_footer.html" %}
{% load static %}
{% block menu %}

<h1>Я молодец!</h1>
<a href="http://127.0.0.1:8000/article/1/">Blog 1 (article 1)</a>

<nav>
    <ul>
        <li><a href="/">Главная</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<p>Добро пожаловать на наш блог!</p>
{% endblock %} {% endcomment %}